{% extends 'base.html' %}

{% block title %} Reset completed {% endblock %}

{% block content %}
   <p> You have changed your password successfully </p>
    <a href="{% url 'login' %}"> Log In </a>
{% endblock %}