{% extends 'base.html' %}
{% block title %} Add New Category {% endblock %}
{% block content %}
    <h1 class="title is-1">Add New Category</h1>

    <form method="post" action="">
    {% csrf_token %}
{#    {{ form.as_p }}#}
        {% for field in form %}
        <div class="field">
            <label class="label"> {{ field.label }}</label> {#afiseaza denumirea campului#}
            <div class="control">
                {{ field }} {#afiseaza campul/inputul unde completezi date pentru acel camp#}
            </div>
        <span class="color_red">
            {{ field.errors }} {#afiseaza erorile existente(daca sunt)#}
        </span>
        </div>
        {% endfor %}
    <button type="submit" class="button is-success">SEND</button>
    </form>

{% endblock %}