{% extends 'base.html' %}
{% block title %} Update category {% endblock %}
{% block content %}

    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update</button>

    </form>

{% endblock %}