{% extends 'base.html' %}
{% block title %} Category List {% endblock %}
{% block content %}
    <h1 class="title is-1"> Category List </h1>

     <section class="section">
        <div class="container">
            <table class="table">
               <thead>
                    <tr>
                        <th>Category name:</th>
                        <th>Category description:</th>
                    </tr>
               </thead>
                <tbody>
                    {% for category in all_categories %}
                        <tr>
                            <td>{{ category.category_name }}</td>
                            <td>{{ category.category_description }}</td>
                            <td>
                                {%  if perms.category.change_category %}
                                <a href="{% url 'category_update' category.id %}">Update</a>
                                {% endif %}
                                {%  if perms.category.delete_category %}
                                <a href="{% url 'category_delete' category.id %}">Delete</a>
                                {% endif %}
                                {%  if perms.category.view_category %}
                                <a href="{% url 'category_details' category.id %}">Details</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {%  if perms.category.add_category %}
        <a href="{% url 'category_create' %}">Add new category</a>
        {% endif %}
        </div>
    </section>

{% endblock %}