{% extends 'base.html' %}

{% block title %} Products Details {% endblock %}
{% block content %}
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{category_details.category_description}}</p>
        <p class="subtitle is-6"></p>
      </div>
    </div>

    <div class="content">
      {{ category_details.category_description }}
    </div>
  </div>
</div>
{% endblock %}