{% extends 'base.html' %}
{% block title %} Products List {% endblock %}
{% block content %}
    <h1 class="title is-1"> Product List </h1>

     <section class="section">
        <div class="container">
            <table class="table">
               <thead>
                    <tr>
                        <th>Product name:</th>
                        <th>Product sku:</th>
                        <th>Product category:</th>
                        <th>Product price:</th>
                        <th>Product description:</th>
                    </tr>
               </thead>
                <tbody>
                    {% for product in all_products %}
                        <tr>
                            <td>{{ product.product_name }}</td>
                            <td>{{ product.product_sku }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.product_price }}</td>
                            <td>{{ product.product_description }}</td>
                            <td><a href="{% url 'product_update' product.id %}">Update</a>
                            <a href="{% url 'product_delete' product.id %}">Delete</a>
                            <a href="{% url 'product_details' product.id %}">Details</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <a href="{% url 'product_create' %}">Add new product</a>
        </div>
    </section>

{% endblock %}