{% extends 'base.html' %}
{% block title %} Product Delete {% endblock %}
{% block content %}

    <form method="post">
        {% csrf_token %}
        <h3>Are you sure you want to delete?</h3>
        <button type="submit">YES</button>
        <a href="{% url 'product_list' %}">NO</a>

    </form>

{% endblock %}