{% extends 'base.html' %}
{% block title %} Add New Product {% endblock %}
{% block content %}
    <h1 class="title is-1">Add New Product</h1>

    <form method="post" action="">
    {% csrf_token %}
{#    {{ form.as_p }}#}
     {% for field in form %}
         <div class="field">
         <label class="label"> {{ field.label }} </label>
         <div class="control"> {{ field }} </div>
         <span class="color_red"> {{ field.errors }} </span>
         </div>
     {% endfor %}
    <button type="submit" class="button is-success">SEND</button>
    </form>

{% endblock %}