{% extends 'base.html' %}

{% block title %} Signup {% endblock %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
{#    {{ form.as_p }}#}
        {% for field in form %}
            <div class="field">
            <label class="label">{{ field.label }}</label>
            <div class="control">
                {{ field }}
            </div>
            <span class="color_red">
            </span>
            </div>
        {% endfor %}
    <button type="submit" class="button is-success"> Save new user</button>
    </form>

{% endblock %}